// Resets

th, td  { font-size: 14px; }

// Fix datatables css problems

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0 !important;
}

.table.dataTable tfoot th, table.dataTable tfoot td {
  border-top: 1px solid #f4f4f4;
}

.table.dataTable {
  border-collapse: collapse;
}

// Fix topbar menu background height problem ..

.nav > li > a {
  height: 50px;
}

// TinyMCE
.ui-tooltip-content {
  display: none !important;
}

.mce-fullscreen {
  z-index: 1050;
}

.mce-panel {
  background-color: #f5f5f5; /* uses !important or override .mce-panel background-color/image */
  background-image: none !important;
}
