$green: #3DD0AC;
$dark-green: #30A689;
$grey: #F6F6F6;
$pastel-grey: #42484D;

.green {
	background:$green;
}

.dark-green {
	background: $dark-green;
}

.grey {
	background: $grey;	
}

.pastel-grey {
	background: $pastel-grey;
}

.fg-white {
	color:white;
}