@import '_colors';

body {
    font-size:18px;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}

h1 {
    color:$dark-green;
    font-size:2em;
    letter-spacing: 3px;
    line-height: 1em;
}

h2 {
    color:$dark-green;
    font-size:1.8em;
}

h3 {
    color:$dark-green;
    font-size:1.3em;
}

.font-xsmall {
    font-size: 0.7em;
}

.font-small {
    font-size: 0.9em;
}

a {  
    color: #FEC23E;
    font-weight: bold;
}